/*!
 * Taylor's Additions
 */

 h1{
	color:#31B180;
 }
 h2{
    color: black;
 }
 p.lead{
 	color:#31B180;
 }
.opener{
    background-color: #FFFFFF;
}

.whatVibe{
    background-color: #31B180;
}
p.whatVibe{
    color:#FFFFFF;
}

textarea.input-message{
	background-color: #FFFFFF;
    background-image: none;
    border: 0px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #929496;
    display: block;
    font-size: 15px;
    height:  150px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.spam-control{
	background-color: #FFFFFF;
    background-image: none;
    border: 0px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #929496;
    display: block;
    font-size: 15px;
    height:  35px;
    width: 35px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align:;
    margin: 0;
    text-align: center;
}

.profiles{
    height: 140px;
    width: 140px;
    text-align: center;
}